.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    border: none !important;
}

.css-109z54m-MuiFormLabel-root-MuiInputLabel-root {
    color: #CDCDCD !important;
    font-size: 1.6rem !important;
    line-height: 2.4rem !important;
    font-weight: 700 !important;
}

.css-q4sn3v-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
    color: #CDCDCD !important;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
    font: initial !important;
}