.input {
    background-color: #161616 !important;
}

input {
    color: white !important;
}

label {
    color: #fff !important;
}

.css-10yaonr-MuiInputBase-root-MuiFilledInput-root:after {
    border-bottom: 2px solid #CDCDCD !important;
}