.slider {
    background-image: url('../../../../assets/images/heroSecPic.png');
    background-repeat: no-repeat;
    height: 90vh;
    background-size: contain;
    background-position-x: 80%;
    
}

.swiper-wrapper div {
    color: white !important;
}

.swiper-pagination-bullet {
    background-color: #2B2B2B !important;
    opacity: 1 !important;
    width: .6rem;
    height: .6rem;
}

.swiper-pagination-bullet-active {
    background-color: #CDCDCD !important;
    opacity: 1 !important;
    width: .8rem;
    height: .8rem;
}

.swiper-button-next,
.swiper-button-prev {
    color: #CDCDCD !important;
}

.swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}